<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="drop">
            <div class="content">
                <h2>Log In</h2>
                <form [formGroup]="userDetail" (ngSubmit)="onSubmit()">
                    <div class="inputBox">
                       
                        <input type="text" placeholder="User Email" matInput formControlName="user_email">
                        
                    </div>
                    <div class="inputBox">
                        <input type="password" matInput formControlName="user_password" placeholder="Password">
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <div class="inputBox">
                    <a>Sign Up</a>   &nbsp;&nbsp;&nbsp;&nbsp; <a>Forget Password</a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>