
   <!DOCTYPE html>
   <html lang="en">
   
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <title>Your Form</title>
     <style>
       body {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100vh;
         margin: 0;
       }
   
       .height-adjustment {
         max-width: 600px;
         width: 100%;
         height: 70vh;
       }
     </style>
   </head>
   
   <body>
   
   
     <div class="p-4 height-adjustment">
       <div style="text-align: center;">
         <h1 class="textColor">Govt Agency</h1>
       </div>
   
       <div class="table-responsive">
         <table class="table table-dark">
           <caption>List of Claims</caption>
           <thead>
             <tr>
               <th scope="col">Claim Id</th>
               <th scope="col">Value</th>
               <th scope="col">Status</th>
               <th scope="col">Edit</th>
             </tr>
           </thead>
           <tbody>
            <tr data-toggle="modal" *ngFor="let data of previousClaims" data-target="#exampleModalCenter" (click)="openDialogue(data)">
              <td *ngIf="data.status == 'VerificationRequested'">{{data.claimId}}</td>
              <td *ngIf="data.status == 'VerificationRequested'">{{data.value}}</td>
              <td *ngIf="data.status == 'VerificationRequested'">{{data.status}}</td>
  
              <td *ngIf="data.status == 'VerificationRequested'">
                <div class="example-button-container">
                  <button mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
  
            </tr>
           </tbody>
         </table>
       </div>
     </div>
   
   
   
   
   </body>
   
   </html>
   
   
   
   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document" >
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form [formGroup]="form">
             <div class="row">
               <div class="col-12">
                 <mat-form-field class="w-100">
                   <mat-label>Claim Id</mat-label>
                   <input readonly matInput formControlName="claimId" ngDefaultControl>
                 </mat-form-field>
               </div>
               <div class="col-12">
                 <mat-form-field class="w-100">
                   <mat-label>Value</mat-label>
                   <input readonly matInput formControlName="value" ngDefaultControl>
                 </mat-form-field>
               </div>
               <div class="col-12">
                 <mat-form-field class="w-100">
                   <mat-label>Status</mat-label>
                   <input matInput formControlName="status" ngDefaultControl>
                 </mat-form-field>
               </div>
   
             </div>
   
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary"
           (click)="verifyClaim(selectedClaimId)">Verify</button>
           <button type="button" class="btn btn-primary"
           (click)="rejectVerification(selectedClaimId)">Reject</button>
         </div>
       </div>
     </div>
   </div>
   
   
   
   